ul li {
  list-style: none;
}
.social__elem {
  height: 300px;
  width: 300px;
  background-color: blue;
}

.social__item {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: url('../img/social_sprite.png');
  background-repeat: no-repeat;
}

.social__icon-fb{
  display: inline-block;
  background-position: -71px -6px;
}
.social__icon-vk{
  display: inline-block;
  background-position: -10px -10px;
}
