.header {
  width: 100%;
  min-height: 77px;
  background-color: #27273e;
  margin-bottom: 15px;
}

.header__left {
  margin-top: 13px;
}
.header__center {
  margin-top: 18px;
}
.header__right {
  margin-top: 18px;
  text-align: right;
}
.banner{
  text-align: center;
}