.sidebar {
  min-width: 180px;
}
.sidebar--mod {
  min-width: 272px;
  margin-right: 20px;
}

.menu {
  margin-left: 0px;
  margin-bottom: 14px;
}
.menu__list{
  text-align: center;
}
.menu__list--feeds-mod{
  text-align: start;
  padding-top: 29px;
}

.menu__list--prices-mod{
  text-align: start;
  padding-top: 13px;
}
.menu__item{
  margin-bottom: 28px;
}
.menu__item--horizont {
  display: inline-block;
  margin-bottom: 0;
}

.menu__link {
  display: inline-block;
  width: 200px;
  text-transform: uppercase;
  color: #ec1e79;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
}
.menu__link-mod{
  color: #fff;
}
.menu__link::before {
  display: inline-block;
  content: "";
  vertical-align: middle;
  width: 21px;
  height: 21px;
  margin-right: 13px;
  background: url('../../img/nav_sprites1.png');
}
.menu__link-mod::before{
  background: url('../../img/nav_sprites2.png');
}

.menu__link--main::before{
background-position:  -90px -10px;
}

.menu__link--main:hover::before,
.menu__link--active.menu__link--main::before,
.menu__link--active-mod.menu__link--main::before {
  background-position: -90px -45px;
}

.menu__link--feed::before {
  background-position: -10px -10px;
}

.menu__link--feed:hover::before,
.menu__link--active.menu__link--feed::before,
.menu__link--active-mod.menu__link--feed::before {
  background-position: -50px -10px;
}

.menu__link--price::before {
  background-position: -10px -48px;
}

.menu__link--price:hover::before,
.menu__link--active.menu__link--price::before,
.menu__link--active-mod.menu__link--price::before {
  background-position: -49px -48px;
}

.menu__link:hover,
.menu__link--active {
  color: #000;
}

.menu__link-mod:hover,
.menu__link--active-mod {
  color: #ec1e79;
}