.overview{
  margin-bottom: 42px;
}
.overview__title{
  margin-bottom: 69px;
}
.overview__title--mod{
  margin-bottom: 41px;
}

.overview__item {
  display: flex;
  padding-bottom: 23px;
  margin-bottom: 23px;
  border-bottom: 1px solid #ccc;
}
.overview__item:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

.overview__pic {
  flex-shrink: 0;
  overflow: hidden;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-right: 20px;
}
.overview__pic--resize{
  width: 173px;
  height: 173px;
}
.overview__pic--gray {
  filter: grayscale(100%);
  background: #f5f5f5;
  }

.overview__img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.overview__date {
  margin-bottom: 8px;
  font-size: 14px;
}

.overview__header {
  margin-bottom: 11px;
  font-weight: 700;
}

.overview__text {
  line-height: 30px;
}