.partners{
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding-top: 40px;
}
.partners__title {
  text-align: center;
  margin-bottom: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.partners__item {
  width: 100%;
  margin-bottom: 40px;
}

.partners__pic {
  filter: grayscale(100%);
}

.partners__pic:hover {
  filter: grayscale(0%);
  cursor: pointer;
}